*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

body{
  font-family: 'Open Sans', sans-serif;
   margin: 0 auto;
}

a {
    text-decoration: none;
    align-self: center;
    padding-left: 1em;
}

.navbar {
font-size: 1.5em;
justify-content: space-between;
line-height: 1.5;
}

.navbar a{
    color: ffff;
    text-decoration: none;
}

.navbar a:hover{
    color: #F0ECE3;
}



.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#p5sketch{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    justify-content: center;
}

.logo{
    font-weight: bold;
    font-size: x-large;
}

ul, li {
    display: inline;
    margin: 10px0;
    padding: 0.5em;
}
/* Section WORKS */
.flex-container{  
    background-color: #f4f4f4;;
}

.row-music {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.item{
    height: 20em;
    flex: 1;
    background: blue;
    color: white;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.live-electronics{
    background: url("/media/works/live-electronics-cover.jpg") no-repeat center;
   background-size: cover;
   ;
}

.albums{
    background: url("/media/works/albums-cover.jpg") no-repeat center ;

   background-origin: padding-box ;
   ;
}

