*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

body{
  font-family: 'Open Sans', sans-serif;
   margin: 0 auto;
}

a {
    text-decoration: none;
    align-self: center;
    padding-left: 1em;
}

.navbar {
font-size: 1.5em;
justify-content: space-between;
line-height: 1.5;
}

.navbar a{
    color: ffff;
    text-decoration: none;
}

.navbar a:hover{
    color: #F0ECE3;
}



.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#p5sketch{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    justify-content: center;
}

.logo{
    font-weight: bold;
    font-size: x-large;
}

ul, li {
    display: inline;
    margin: 10px0;
    padding: 0.5em;
}
/* Section WORKS */
.flex-container{  
    background-color: #f4f4f4;;
}

.row-music {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.item{
    height: 20em;
    flex: 1;
    background: blue;
    color: white;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;

  
 
}

.caption{
    font-size:xx-large;
    opacity: 1;

    background-color: black;
    color: #fff; 
  
    padding: 0.5rem;
 

    text-shadow: 0 1px 0 black;
 
}



.live-electronics{
    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("/media/work/live-electronics-cover.jpg") no-repeat center;
    background-size: cover;
}

.albums{
    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("/media/work/albums-cover.jpg") no-repeat bottom;
   background-origin: padding-box ;
}

.interactive-art{
    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("/media/work/interactive-art-cover.jpg") no-repeat ;
    background-position:center;
   background-size: cover;
   ;
}

.post-production{
    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ), url("/media/work/post-production-cover.jpg") no-repeat ;
    background-position:center;
   background-size: cover;
   ;
}

